body {
	width: 100%;
	min-width: 100%;
	overflow-x: hidden;
}

/*FONTS*/
@font-face {
	font-family: lemonFont;
	src: url('fonts/LemonMilk.otf');
}

@font-face {
	font-family: bebasFont;
	src: url('fonts/BebasNeue.otf');
	font-weight: lighter;
}

@font-face {
	font-family: optimusFont;
	src: url('fonts/OptimusPrinceps.ttf');
}

@font-face {
	font-family: robotoFont;
	src: url('fonts/Roboto.ttf');
}

body{
	margin: 10px;
}
/*MAIN MENU STYLE*/
.main_menu {
	background-color: #337ab7;
	height: 100%;
	min-height: 100%;
	position: absolute;
	text-align: center;
	font-family: robotoFont;
	font-size: 15px;
	letter-spacing: 1px;
}

.main_menu a{
	color: white;
}
.main_menu a.active {
	background-color: #4CAF50;
	color: white;
}

.main_menu a:hover {
	background-color: #e84c4c;
}

/*BODY SECTION*/
.body_section h3 {
	font-family: optimusFont;
	font-size: 30px;
}

.body_section .recent_activity {
	font-family: robotoFont;
	font-size: 50px;
	letter-spacing: 1px;
}

.body_section .recent_activity_nav {
	font-family: robotoFont;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: bold;
}


.hr_line { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.body_section .main_menu_teacher{
	height: 80%;
	background-color: white;
	font-size: 15px;
	letter-spacing: 1px;
	padding-right:150px;
}

.body_section .main_menu_teacher a:hover{
	padding-right:150px;
}

.body_section .main_menu_teacher a.active{
	padding-right:150px;
	background-color: #337ab7;
	color:white;

}

.body_section .home_course_teacher {
	padding-left:50px;
}

.body_section .side_info .recent_feedback{
	padding-bottom:30px;
}

.detail_feedback_header{
	color:#337ab7;
}

.detail_feedback_body{
	color:#999;
}




