#grades_table{
	width:85%;
}

.td1{

	color:#2563f4;

}

#arr_btn{
	margin-left: -120px;
}

.student_sideMenu {
	text-align: left;
	margin-left: -19px;
}

h3.course_header {
	margin-top: 10px;
	font-family: optimusFont;
	font-size: 30px;
	font-weight: bolder;
}