/*FONTS*/
@font-face {
	font-family: lemonFont;
	src: url('fonts/LemonMilk.otf');
}

@font-face {
	font-family: bebasFont;
	src: url('fonts/BebasNeue.otf');
	font-weight: lighter;
}

@font-face {
	font-family: optimusFont;
	src: url('fonts/OptimusPrinceps.ttf');
}

@font-face {
	font-family: robotoFont;
	src: url('fonts/Roboto.ttf');
}

.body_section .assignment_heading{
	font-family: robotoFont;
	font-size: 20px;
}